# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
logs/
*.log

# Runtime files
*.exe
*.dll
*.pdb
*.cache
*.deps.json
*.runtimeconfig.json

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# SplashKit files
pong_game/lib/SplashKit.cs